@import '../../sass/settings';
@import '../../sass/color-themes';

/* The modal */

// denna funkar inte just nu :(( och behöver skrivas om till BEM
// .modal-content {
//     @include themed() {
//         color: t($text);
//         background-color: t($bg);
//       }
// }

.modal {

    &__img{
    max-width: 100%;
    }

    &__subtitle{
        font-weight: bolder;
        margin-right: 1em;
    }
}


/* The cards */
.card {
    margin-top: 1em;
    
    @include themed() {
        color: t($text);
        background: t($bg);
        }
    
    &__text{
        max-height: 5em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}