/* The modal */
.modal-body img {
    max-width: 100%;
}

.modal-body .sub-header {
    font-weight: bolder;
    margin-right: 1em;
}

.card .card-text {
    max-height: 5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}