/* Button animation */
@keyframes wiggle {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-30deg); }
    20% { transform: rotate(30deg); }
    30% { transform: rotate(-30deg); }
    40% { transform: rotate(30deg); }
    50% { transform: rotate(-30deg); }
    60% { transform: rotate(30deg); }
    70% { transform: rotate(-30deg); }
    80% { transform: rotate(30deg); }
  
    81%, 100% {
      transform: rotate(0deg); 
    }
  
  }