@import "~bootstrap/scss/bootstrap";
@import "custom";
@import "/client/components/homeContainer/styles.scss";
@import "/client/components/card/styles.scss";

.header {
  text-align: center;
}

#app, .container {
  height: 100vh;
  width: 100%;
}

span {
  &.dangerText {
    color: #dc3545;
  }

  &.infoText {
    color: #17a2b8;
    font-weight: bold;
  }
}
