@import "~bootstrap/scss/bootstrap";
@import "/client/components/homeContainer/styles.scss";
@import "/client/components/card/styles.scss";
@import 'settings';
@import 'color-themes';

.header {
  text-align: center;
}

.app, .container {
  height: 100vh;
  width: 100%;
}

#app {
  font-family: 'Poppins', sans-serif;
}

.theme {
  height: 100%;
}