@import "~bootstrap/scss/bootstrap";
@import "/client/components/homeContainer/styles.scss";
@import "/client/components/card/styles.scss";
@import 'settings';
@import 'color-themes';

.header {
  text-align: center;
}

.app, .container {
  height: 100vh;
  width: 100%;
}

#app {
  font-family: 'Poppins', sans-serif;
}

//används dessa? radera alternativ skriv om till BEM
// span {
  
//   &.dangerText {
//     color: #dc3545;
//   }

//   &.infoText {
//     color: #17a2b8;
//     font-weight: bold;
//   }
// }

.theme {
  height: 100%;
}