@import '../../sass/settings';
@import '../../sass/color-themes';

.navbar a {
    @include themed() {
        color: t($text);
        background: t($bg);
      }
    margin-left: 1em;
    text-decoration: none;
}

.navbar {
    @include themed() {
        color: t($text);
        background: t($bg);
      }
    // background-color: #f74b4b !important;
}

.navbar-brand {
    @include themed() {
        color: t($text);
      }
}