@import '../../sass/settings';
@import '../../sass/color-themes';
@import '../../sass/animations';

.navbar {
  @include themed() {
    color: t($text);
    background: t($bg);
  }

  &__icon {
    @include themed() {
      color: t($text-third);
    }  
  }

  &__link {
    @include themed() {
      color: t($text);
      background: t($bg);
    }
    margin-left: 1em;
    text-decoration: none;
    cursor: pointer;
  }
  &__link:hover {
    @include themed() {
      color: t($text-important);
    }
  }

  &__icon--clickable {
    @include themed() {
      color: t($text);
    }
    cursor: pointer;

    animation: wiggle 20s ease infinite;
    animation-delay: 0s;

  }

  &__icon--clickable:hover {
    @include themed() {
      color: t($text-important);
    }
  }

}
