@import '../../sass/settings';
@import '../../sass/color-themes';

.navbar a {
    @include themed() {
        color: t($text);
        background: t($bg);
      }
    margin-left: 1em;
    text-decoration: none;
    cursor: pointer;
}

.navbar a:hover {
  @include themed() {
    color: t($text-important);
  }
}

.navbar svg {
  @include themed() {
    color: t($text);
  }
  cursor: pointer;

}

.navbar svg:hover {
  @include themed() {
    color: t($text-important);
  }
}

.navbar {
    @include themed() {
        color: t($text);
        background: t($bg);
      }
    // background-color: #f74b4b !important;
}

.navbar-brand {
    @include themed() {
        color: t($text);
      }
}