@import '../../sass/settings';
@import '../../sass/color-themes';

.button {
    max-width: 8em;
    max-height: 4em;
    min-height: 2em;
    border-radius: 10px;
    background-color: rgb(255, 201, 83);
    border-color: #f74b4b;
    color: #f74b4b;
    font-weight: bolder;
    
}
