@import '../../sass/settings';
@import '../../sass/color-themes';

.mypage{
    @include themed() {
        color: t($text);
        background: t($bg);
        padding: 3em;  
        height: 100%;
      }


    &__header{
        text-align: center;
    }

    &__button--logOut{
        display: flex;
        justify-content: right;
        padding-right: 2em;    
    }

    &__details {
        margin-bottom: 1em;
        padding-left: 1em;
    }

    &__details--bold {
        display: inline;
        font-weight:900;
        text-decoration: underline;
        margin-right: 0.5em;
    }
}

.card-subtitle {
    font-style: italic;
}