@import '../../sass/settings';
@import '../../sass/color-themes';

.home {
    @include themed() {
      color: t($text);
      background: t($bg);
    }
  }

.header {
    height: 105vh;
    text-align: center;
    padding: 0px;
    margin-top: -60px;

    // ---- Background Image ----
    @include themed() {
        background-image: t($background-image); 
      }
    
    background: no-repeat center center scroll; 
    background-size: cover;
}

.search {
    padding: 1em 5em 1em 5em;

    &__input{
        @include themed() {
            color: t($text);
            background: t($card-bg);
          }  
    }
}

.results {
    padding: 1em 5em 1em 5em;
}

.spinner {
    text-align: center;
    padding: 2em;

    &----loading {
   display: inline-block;

    }
}
