@import '../../sass/settings';
@import '../../sass/color-themes';

.home {
    @include themed() {
      color: t($text);
      background: t($bg);
    }
  }

.header {
    text-align: center;
    padding: 0px;

    // ---- Background Image ----
    @include themed() {
      @media screen and (max-width:800px) {
          /* style changes when the screen gets smaller */
          background-image: t($background-image-mobile); 
          background-size: 100%;
          height: 80vh;

      }
      @media screen and (min-width:801px) {
        /* style changes when the screen gets larger */
        background-image: t($background-image); 
        background-size: cover;
        height: 105vh;
        margin-top: -60px;
      }
      }
    
    background: no-repeat center center scroll; 
}

.search {
    padding: 1em 5em 1em 5em;

    &__input{
        @include themed() {
            color: t($text);
            background: t($card-bg);
          }  
    }
}

.results {
    padding: 1em 5em 1em 5em;
}

.spinner {
    text-align: center;
    padding: 2em;

    &----loading {
   display: inline-block;

    }
}
